.navbar {
    background-color: #FFA200;
}
.container
{
    justify-content: space-between;
    align-items: center;
}
.brand {
    font-size: 30px;
    color: white;
    
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}

.nav-item {
    list-style-type: none;
    margin-left: 40px;
    position: relative;
    left: 500px;
   bottom: 20px;
}

.nav-link {
    color: #fff;
    cursor: pointer;
    padding: 0;
    font-size: 16px;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

.navbar-toggler {
    border: none;
}
.nav-button
{
        background-color: transparent; 
        border: none; /* Убирает границу */
        color: #ffffff; /* Устанавливает цвет текста */
        cursor: pointer; /* Устанавливает курсор-указатель */
        padding: 0; /* Убирает внутренние отступы */
        font-size: 20px; /* Устанавливает размер текста */
        text-align: right; /* Выравнивает текст по правому краю */
    margin: 0;
   
}