.text {
    margin-top: 80px;
}

table {
    max-width: 960px;
    margin: 10px auto;
    border-collapse: collapse;
}

caption {
    font-size: 1.6em;
    font-weight: 400;
    padding: 10px 0;
}

thead th {
    font-weight: 400;
    background: #3c1e00;
    color: #FFF;
}

tr {
    background: rgba(229, 112, 0, 0.56);
    border-bottom: 1px solid #FFF;
    margin-bottom: 5px;
}

tr:nth-child(even) {
    background: #e8eeef;
}

th, td {
    text-align: left;
    padding: 20px;
    font-weight: 300;
}

tfoot tr {
    background: none;
}

tfoot td {
    padding: 10px 2px;
    font-size: 0.8em;
    font-style: italic;
   
}
.logout-button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 50px;
}

.logout-button {
    padding: 10px 20px;
    background-color: rgb(229, 112, 0);
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: rgb(173, 61, 0);
}